<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enJoyy-Shopping</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="ctr-grid">
        <header class="header">
            <div class="brand">
                <a href="index.html">JOYY WITHIN</a>
            </div>
            <div class="header-links">

                <a href="cart.html">Cart</a>
                <a href="signin.html">SignIn</a>
            </div>
        </header>
   
        <main class="main">
            <div class="ctr-products">
                <ul class="list-products">
                    <li>
                        <div class="item-product">
                            <img src="images/tshirt1.jpeg" alt="product-pic">
                            <div class="item-product-name">Slim T-Shirt</div>
                            <div class="item-product-brand">Nike</div>
                            <div class="item-product-price">₹ 560</div>

                            Product 1
                        </div>
                    </li>
                    
                </ul>
            </div>
        </main>

        <footer class="footer">
            &copy; JOYY WITHIN | All rights reserved
        </footer>
    </div>

</body>
</html>